header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 1000;
	overflow: hidden;
	border: 1px solid #333;
	background: #111;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 1px black;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3C3C3C),
		to(#111) );
	background-image: -webkit-linear-gradient(#3C3C3C, #111);
	background-image: -moz-linear-gradient(#3C3C3C, #111);
	background-image: -ms-linear-gradient(#3C3C3C, #111);
	background-image: -o-linear-gradient(#3C3C3C, #111);
	background-image: linear-gradient(#3C3C3C, #111);
}

[data-role="content"] {
	margin-top: 40px;
}

#wordlist-nav
{
	float: left;
	width: 160px;
	margin-left: 10px;
	padding-top: 1em;
}

.flash-card
{
	padding-top: 1em;
	margin: 0 2em 0 200px;
}

.flash-card-answers
{
	padding-top: 1em;
	margin: 0 2em 0 200px;
}

.hidden
{display: none}

#sample04 #footer
{
	clear: both;
	background-color: #666;
	padding: 1em;
	text-align: right;
	border-top: 1px solid #333;
}
