a.plain:link
{ color: #333; text-decoration: none }
a.plain:active
{ color: #333; text-decoration: none }
a.plain:visited
{ color: #333; text-decoration: none }
a.plain:hover
{ color: #333; text-decoration: none }

.status-bar {
    height: 60px;
}
.about-icon {
    float: left;
    margin-right: 12px;
}
.full{
	width:100%;
}
.zero-margin{
margin:0px;
}

header{
background: url(../img/header_bg.png) 50% 0 no-repeat;
position: relative;
height: 60px;
z-index: 50;
}

body{
  position: relative;
  margin:0px;
}
/* -----------------------------------------
   explore page
----------------------------------------- */
#resultFrame{
	width:25%;
}

#resultFrame ul{
	margin:0px 0px 0px 0px;
	list-style:none;
}

#resultFrame li{
	padding:5px 0px 5px 5px;
	border-bottom: 1px solid #CCC;
	list-style: none;
	cursor: pointer;
	background-color: #F9F9F9;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9), color-stop(100%, #F2F2F2));
	background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
	background-image: linear-gradient(top, #F9F9F9 0%, #F2F2F2 100%);
}

#mapFrame{
	margin-left:0px;
	width:75%;
	border:1px solid #4D4D4D;
}

#mapCanvas img {
    max-width: none;
}


.result .projectlogo{
	height:70px;
	width:70px;
	padding:5px;
	border:1px solid #E3E3E3;
	background:white;
}

.result .info{
	margin-left:10px;
}

.result  .table {
	margin:5px 0px 0px 10px;
}

.result  .table td{
	padding-top:0px;
	padding-bottom:0px;
}

.result .separator{
padding:0px 3px;
font-weight:bold;
}

/* -----------------------------------------
   project page
----------------------------------------- */
.project {
	padding-top:10px;
	background-color: #006A81;
}

.project .main{
	background: white;
	overflow: hidden;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	box-shadow: rgba(0, 0, 0, 0.398438) 0px 0px 5px 0px;
	color: #4D4D4D;
}

.project h3{
	font-size:17px
}

.project section {
	padding:10px 0px 0px 10px;
}

.project .logo{
	width:100px;
	padding:5px;
	border:1px solid #E3E3E3;
}

.project .map { height:100px;width:100%;padding:5px;border:1px solid #E3E3E3;margin-top:5px;}

.project .heading{
	border-bottom: 1px solid #E3E3E3;
	margin:10px 0px;
}

.project aside{
	height:100%;	
}

.project .details { 
	border-left: 1px solid #DAE4E6; 
	border-bottom:1px solid #E8E9EB;
	background: #F0F4F5; 
	padding:20px 0px 20px 0px;
}

.project strong{
	color: #A8A8A8;
	display: inline;
	font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}
	
.project .area{
	text-align:center;
	padding-left:15px;
}

.project .range{
	border-left: #A8A8A8 thin dotted;
	padding-left:20px;
	text-align:center;
}

.project .brochure{
	padding-left:30px;
	font-weight: bold;
}
.project .interested
{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #FEE580;
	background-image: -webkit-linear-gradient(top, #FEE580 0%, #F8CF39 100%);
	background-origin: padding-box;
	border-bottom-color: 1px solid #F5C309;	
	-webkit-border-radius: 0px;
	-moz-border-radius:0px;
	border-radius:0px;
}

.project form{
	margin:0px;
}