[data-role="content"] {
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 1000;
	border-left-width: 0;
	border-right-width: 0;
	zoom: 1;
	border: 1px solid #333 /*{a-bar-border}*/;
	background: #111 /*{a-bar-background-color}*/;
	color: white /*{a-bar-color}*/;
	font-weight: bold;

	text-shadow: 0 -1px 1px black;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3C3C3C),
		to(#111) );
	background-image: -webkit-linear-gradient(#3C3C3C, #111);
	background-image: -moz-linear-gradient(#3C3C3C, #111);
	background-image: -ms-linear-gradient(#3C3C3C, #111);
	background-image: -o-linear-gradient(#3C3C3C, #111);
	background-image: linear-gradient(#3C3C3C, #111);
}

[data-role="content"] {
	margin-top: 5px;
}

.correct-answer
{
	background: green;
}
.user-answer
{
	background: red;
}
.hidden
{display: none}
