/* Commons
-------------------------------------------------- */
body {
	position: relative;
	padding-top: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:15px;
	background: white url('../img/bg.png') top center repeat;
	/*background-color:#DDD;*/
}

#content >.quiz-topics{
	padding:0px 20px;
	background : #fff;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

/* Code in headings */
h3 code {
	font-size: 14px;
	font-weight: normal;
}

h1,h2,h3,h4,h5{
	font-weight:normal;
}

h1{
	font-size: 35px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 15px;
}
.custom {
	border-radius: 20px;
	background-color: hsl(0, 0%, 27%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878787",
		endColorstr="#444444" );
	background-image: -khtml-gradient(linear, left top, left bottom, from(#878787),
		to(#444444) );
	background-image: -moz-linear-gradient(top, #878787, #444444);
	background-image: -ms-linear-gradient(top, #878787, #444444);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #878787),
		color-stop(100%, #444444) );
	background-image: -webkit-linear-gradient(top, #878787, #444444);
	background-image: -o-linear-gradient(top, #878787, #444444);
	background-image: linear-gradient(#878787, #444444);
	border-color: #444444 #444444 hsl(0, 0%, 20.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
}

/* Tweak navbar brand link to be super sleek */
body>.navbar {
	font-size: 13px;
}

/* Change the docs' brand */
body>.navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: #fff;
/*	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px
		rgba(255, 255, 255, .125);
		*/
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color:#000000;
}

body>.navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px
		rgba(255, 255, 255, .4);
}

.navbar-inverse .navbar-inner {
	/*background: white url('../img/header_bg.jpg') top center repeat;*/
	height: 42px;
	background:#193D42;
}

.navbar-inverse .nav .active>a,.navbar-inverse .nav .active>a:hover,.navbar-inverse .nav .active>a:focus
	{
	color: white;
	background: green url('') top center repeat;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display: inline;     /* for IE7*/
    *zoom:1;              /* for IE7*/

}

.nav-pills {
    text-align:center;
}

/* Faded out hr */
hr.soften {
	height: 1px;
	margin: 70px 0;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	border: 0;
}

#content {
	margin-top: 10px;
}

/* Detail unit
-------------------------------------------------- */

.detail-unit {
	margin: 10px 0px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #CCC;
	background-color: white;
}

.detail-unit .heading {
	border-bottom: 1px solid #CCC;
	padding: 5px 20px 0 20px;
}

.detail-unit .content {
	color: #555;
	padding: 10px 20px 10px 20px;
}

.detail-unit .content li{
	margin-bottom:10px;
}

.detail-unit .linen{
	margin-top:10px;
	background: white url('../img/linen.png') top center repeat;"
}

.detail-unit .linen h4{
	color:white;
}

/* Dashboard
-------------------------------------------------- */

/* Practice,Quiz Topics
-------------------------------------------------- */
.practice-topics .subject img,.quiz-topics .subject img{
	height: 40px;
	padding-top: 25px;
}

.practice-topics .subject,.quiz-topics .subject{
	text-align: center;
}

#next,#previous{
	cursor: pointer;
}

#previous{
	cursor: pointer; 
}

/* questions
-------------------------------------------------- */
.question-header {
	padding: 0 0;
	text-align: center;
	background-color: whiteSmoke;
	border-top: 1px solid white;
	border: 1px solid #DDD;
}

.question-list{
	margin-top:20px;
}

.option-buttons{
	margin-top:10px;	
}

/* Profile
-------------------------------------------------- */
.profile .sidebar img {
	height: 40px;
	margin-top:20px;
}

.profile .sidebar li {
	text-align: center;
	padding-top: 20px;
}


/* Sidenav for Docs
-------------------------------------------------- */

.sidenav {
  /*width: 228px;*/
  /*margin: 30px 0 0;*/
  padding: 0;
  background-color: #fff;
}
.sidenav > li > a {
  display: block;
  /**width: 190px;*/
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

.sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.sidenav .active .icon-chevron-right,
.sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.sidenav.affix {
  top: 40px;
}
.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media ( min-width : 1200px) {
	.bs-docs-container {
		max-width: 970px;
	}
	.sidenav {
		/*width: 258px;*/
	}
	.container {
		width: 80%;
	}
}

/* Desktop
------------------------- */
@media ( max-width : 980px) { /* Unfloat brand */
	body>.navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	/* Inline-block quick links for more spacing */
	.quick-links li {
		display: inline-block;
		margin: 5px;
	}

	/* When affixed, space properly */
	.sidenav {
		top: 0;
		margin-top: 30px;
		margin-right: 0;
	}
	
	/*.container {
		width: 100%;
	}*/
	
}

/* Tablet to desktop
------------------------- */
@media ( min-width : 768px) and (max-width: 980px) {
	/* Remove any padding from the body */
	body {
		padding-top: 0;
	}
	/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		margin-top: -20px; /* Offset bottom margin on .navbar */
	}
	/* Adjust sidenav width */
	.sidenav {
		/*width: 166px;*/
		margin-top: 20px;
	}
	.sidenav.affix {
		top: 0;
	}
}

/* Tablet
------------------------- */
@media ( max-width : 768px) { /* Remove any padding from the body */
	body {
		padding-top: 0;
	}

	/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		padding: 40px 20px;
		margin-top: -20px; /* Offset bottom margin on .navbar */
		margin-right: -20px;
		margin-left: -20px;
	}
	.masthead h1 {
		font-size: 90px;
	}
	.masthead p,.masthead .btn {
		font-size: 24px;
	}
	.marketing .span4 {
		margin-bottom: 40px;
	}
	.bs-docs-social {
		margin: 0 -20px;
	}

	/* Space out the show-grid examples */
	.show-grid [class*="span"] {
		margin-bottom: 5px;
	}

	/* Sidenav */
	.sidenav {
		width: auto;
		margin-bottom: 20px;
	}
	.sidenav.affix {
		position: static;
		width: auto;
		top: 0;
	}

	/* Unfloat the back to top link in footer */
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer p {
		margin-bottom: 9px;
	}
}

/* Landscape phones
------------------------- */
@media ( max-width : 480px) { /* Remove padding above jumbotron */
	body {
		padding-top: 0;
	}

	/* Change up some type stuff */
	h2 small {
		display: block;
	}

	/* Downsize the jumbotrons */
	.jumbotron h1 {
		font-size: 60px;
	}
	.jumbotron p,.jumbotron .btn {
		font-size: 20px;
	}
	.jumbotron .btn {
		display: block;
		margin: 0 auto;
	}

	/* center align subhead text like the masthead */
	.subhead h1,.subhead p {
		text-align: center;
	}

	/* Marketing on home */
	.marketing h1 {
		font-size: 40px;
	}

	/* center example sites */
	.example-sites {
		margin-left: 0;
	}
	.example-sites>li {
		float: none;
		display: block;
		max-width: 280px;
		margin: 0 auto 18px;
		text-align: center;
	}
	.example-sites .thumbnail>img {
		max-width: 270px;
	}

	/* Do our best to make tables work in narrow viewports */
	table code {
		white-space: normal;
		word-wrap: break-word;
		word-break: break-all;
	}

	/* Modal example */
	.modal-example .modal {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
	}

	/* Unfloat the back to top in footer to prevent odd text wrapping */
	.footer .pull-right {
		float: none;
	}
}