/* Common
-------------------------------------------------- */
html, body, #content, .container{
    height: 100%;
    min-height: 100%;
}

body {
	position: relative;
	padding-top: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	background: white url('../img/bg.png') top center repeat;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.margin-0 {
	margin-left: 0px;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

/* Faded out hr */
hr.soften {
	height: 1px;
	margin: 70px 0;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	border: 0;
}

/* Define the color palette */
.green {
	color: #06947A;
}

.blue {
	
}

.red {
	color: #C6264C
}

.gold {
	color: #A8A38D
}

.btn-purple {
	background-color: hsl(309, 20%, 21%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#95638e",
		endColorstr="#402a3d" );
	background-image: -khtml-gradient(linear, left top, left bottom, from(#95638e),
		to(#402a3d) );
	background-image: -moz-linear-gradient(top, #95638e, #402a3d);
	background-image: -ms-linear-gradient(top, #95638e, #402a3d);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #95638e),
		color-stop(100%, #402a3d) );
	background-image: -webkit-linear-gradient(top, #95638e, #402a3d);
	background-image: -o-linear-gradient(top, #95638e, #402a3d);
	background-image: linear-gradient(#95638e, #402a3d);
	border-color: #402a3d #402a3d hsl(309, 20%, 14%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
	-webkit-font-smoothing: antialiased;
}

.quiz-topics,.dashboard {
	margin-top: 25px;
	width: 85%;
}

/* Detail unit
-------------------------------------------------- */
.detail-unit {
	margin: 10px 0px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #CCC;
	background-color: white;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #CCC;
	-moz-box-shadow: 3px 0px 6px #aaa;
	-webkit-box-shadow: 3px 0px 6px #aaa;
	box-shadow: 3px 0px 6px #aaa;
}

.detail-unit .heading {
	border-bottom: 1px solid #CCC;
	padding: 5px 20px;
}

.detail-unit .content {
	color: #555;
	padding: 25px 20px 10px 20px;
}

.detail-unit .content li {
	margin-bottom: 10px;
}

.detail-unit .linen {
	margin-top: 10px;
	background: white url('../img/dashboard-ribbon.png');
	background-size:85% 100%;
	background-repeat:no-repeat;
	border-bottom:none;
}

.navbar-inverse .navbar-inner {
	background: #193D42;
}

/* tweak the navbar to adjust to given height. you need to use this formulae */
/*.navbar .nav { height: @navbarHeight; }
.navbar .nav > li > a { padding: (@navbarHeight - 20)/2 10px ((@navbarHeight - 20)/2 + 1); }
.navbar .brand { padding: (((@navbarHeight - 20) / 2) * 0.8) 20px (((@navbarHeight - 20) / 2) * 1.2); }
*/
.navbar .nav {
	height: 51px;
}

.navbar .nav>li>a {
	padding: 15px 10px 16px
}

/* Sidebar
-------------------------------------------------- */
.sidebar {
	height: 100%;
    min-height: 100%;
	background: url('../img/side-ribbon.jpg') repeat-y;
	padding-top: 50px;
	background-size: 100% auto;
	-webkit-background-size: 100% auto; /*  Safari  */
	-khtml-background-size: 100% auto; /*  Konqueror  */
	-moz-background-size: 100% auto;
	background-size: 100% auto; /*  Firefox  */
	-webkit-box-shadow: #444 3px 0px 6px;
	box-shadow: #444 3px 0px 6px;
}

/* Dashboard
-------------------------------------------------- */

/* Practice,Quiz Topics
-------------------------------------------------- */
.practice-topics .subject img,.quiz-topics .subject img {
	height: 40px;
	padding-top: 25px;
}

.practice-topics .subject,.quiz-topics .subject {
	text-align: center;
}

#next,#previous,#submit {
	cursor: pointer;
}

.quiz-topics .sideimage {
	padding: .5%;
	max-width: 90%;
}

.quiz-topics .detail-unit{
	padding-bottom:10px;
}


/* questions
-------------------------------------------------- */
.question-toolbar {
	padding: 0 0;
	text-align: center;
	background-color: whiteSmoke;
	border-top: 1px solid white;
	border: 1px solid #DDD;
}

.option-button {
	margin: 10px 0px 10px 0px;
	padding-right: 20px
}

.option-box {
	position: relative;
	margin: 10px 0px 10px 10px;
	padding: 20px 10px;
	background-color: #EEE;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


.quizview .sidenav>li, .quiz-analytics .sidenav>li{
	padding:10px
}
.quizview .sidenav>li>a, .quiz-analytics .sidenav>li>a {
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #C6C6C6;
	font-size: 20px;
}

.quizview > .row-fluid, .performance > .row-fluid, .quiz-analytics > .row-fluid{
    height: 100%;
    min-height: 100%;
}

.quizview .detail-unit{
    height: 100%;
    min-height: 100%;
}

/* Performance
-------------------------------------------------- */
.performance .sideimage {
	padding: 1%;
	max-width: 70%;
}

.performance .sidenav>li {
	margin-bottom: 20px;
}

.performance .sidenav>li>a {
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #C6C6C6;
}

.performance .sidenav>li>a>img {
	width: 50%;
	margin: 0px auto;
	display: block;
}

.performance .sidenav>.active>a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
}

.quiz-analytics .box{
	padding : 10px 0px 25px 0px;
	margin-bottom:10px;
	border-bottom: 5px solid #CCC; 
}

.quiz-analytics .score{
	font-size: 40px;
	text-align: center;
	color: #0066B2;
	font-weight: bold;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media ( min-width : 1200px) {
}

/* Desktop
------------------------- */
@media ( max-width : 980px) { /* Unfloat brand */
	body>.navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	/* When affixed, space properly */
	.sidenav {
		top: 0;
		margin-top: 30px;
		margin-right: 0;
	}
	.quiz-topics,.dashboard {
		width: 98%
	}
}

/* Tablet to desktop
------------------------- */
@media ( min-width : 768px) and (max-width: 980px) {
	/* Remove any padding from the body */
	body {
		padding-top: 0;
	}

	/* Adjust sidenav width */
	.sidenav { /*width: 166px;*/
		margin-top: 20px;
	}
	.sidenav.affix {
		top: 0;
	}
	.quiz-topics,.dashboard {
		width: 98%;
	}
}

/* Tablet
------------------------- */
@media ( max-width : 768px) { /* Remove any padding from the body */
	body {
		padding-top: 0;
	}

	/* Sidenav */
	.sidenav {
		width: auto;
		margin-bottom: 20px;
	}
	.sidenav.affix {
		position: static;
		width: auto;
		top: 0;
	}
	.quiz-topics,.dashboard {
		width: 98%
	}
}

/* Landscape phones
------------------------- */
@media ( max-width : 480px) { /* Remove padding above jumbotron */
	body {
		padding-top: 0;
	}
	.quiz-topics,.dashboard {
		width: 98%
	}
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display: inline;     /* for IE7*/
    *zoom:1;              /* for IE7*/

}

.nav-pills {
    text-align:center;
}