[data-role="content"] {
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 1000;
	border-left-width: 0;
	border-right-width: 0;
	zoom: 1;
	border: 1px solid #333 /*{a-bar-border}*/;
	background: #111 /*{a-bar-background-color}*/;
	color: white /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/   -1px /*{a-bar-shadow-y}*/   1px
		/*{a-bar-shadow-radius}*/   black /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3C3C3C
		/*{a-bar-background-start}*/), to(#111 /*{a-bar-background-end}*/) );
	background-image: -webkit-linear-gradient(#3C3C3C /*{a-bar-background-start}*/, #111
		/*{a-bar-background-end}*/);
	background-image: -moz-linear-gradient(#3C3C3C /*{a-bar-background-start}*/, #111
		/*{a-bar-background-end}*/);
	background-image: -ms-linear-gradient(#3C3C3C /*{a-bar-background-start}*/, #111
		/*{a-bar-background-end}*/);
	background-image: -o-linear-gradient(#3C3C3C /*{a-bar-background-start}*/, #111
		/*{a-bar-background-end}*/);
	background-image: linear-gradient(#3C3C3C /*{a-bar-background-start}*/, #111
		/*{a-bar-background-end}*/);
}