
<div class="container quiz-analytics">
	<div class="row-fluid">
		<div class="span2 sidebar">
			<ul class="nav nav-list sidenav">
				<li><a>Question No.</a></li>
				<% for(var i=0; i
				<totalQuestions; i++){
			%>
				<li><a href="#"><%=(i+1)
						%></a></li>
				<% } %> 
		</div>
		<div class="span10">
			<div class="detail-unit">
				<div class="content">
					<div class="row-fluid score box">
						YOU SCORED <span>65 %</span>
					</div>
					<div class="row-fluid box">
						<div class="span6" style="text-align: center">
							<h4 style="border-bottom: 1px solid #CCC; padding-bottom: 10px">Accuracy
								Stats</h4>
							<div class="row-fluid">
								<div class="span6">
									<b>Correct <br> Incorrect <br> Unattempted<br></b>
								</div>
								<div class="span6">
									<%=correct %><br><%=incorrect %><br><%=unattempted %><br>
								</div>
							</div>
						</div>
						<div class="span6" style="text-align: center">
							<h4 style="border-bottom: 1px solid #CCC; padding-bottom: 10px">Time
								Usage Stats</h4>
							<div class="row-fluid">
								<div class="span6">
									<b> Time Available <br> Time Utilized <br> Avg.
										Time<br>
									</b>
								</div>
								<div class="span6">
									<%=totalTime %><br><%=timeTaken %><br><%=avgTime %><br>
								</div>
							</div>
						</div>
					</div>
					<div class="row-fluid box"> 
						<ul class="nav nav-pills">
							<li class="active"><a id="time" class="insightItem">Time</a></li>
							<li class="divider">|</li>
							<li><a id="difficulty" class="insightItem">Difficulty</a></li>
							<li class="divider">|</li>
							<li><a id="history" class="insightItem">Historical</a></li>
							<li class="divider">|</li>
							<li><a id="strategy" class="insightItem">Strategy</a></li>
						</ul>
						<div class="row-fluid" id="time-div">
							<div class="row-fluid"
								style="border: solid 1px #CCC; background-color: #FCFDCC; text-align: center">
								<h4><%=accuracyInsights%></h4>
							</div>
							<div id="time-chart" class="row-fluid"></div>
						</div>
						<div class="row-fluid" id="difficulty-div">
							<div class="row-fluid"
								style="border: solid 1px #CCC; background-color: #FCFDCC; text-align: center">
								<h4><%=difficultyInsights%></h4>
							</div>
							<div id="difficulty-chart" class="row-fluid"></div>
						</div>
						<div class="row-fluid" id="history-div">
							<div class="row-fluid"
								style="border: solid 1px #CCC; background-color: #FCFDCC; text-align: center">
								<h4>This looks like your first test.</h4>
							</div>
							<div id="history-chart" class="row-fluid"></div>
						</div>
						<div class="row-fluid" id="strategy-div">
							<div class="row-fluid"
								style="border: solid 1px #CCC; background-color: #FCFDCC; text-align: center">
								<h4><%=strategicInsights%></h4>
							</div>
							<div id="strat-chart" class="row-fluid"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
