<div class="container quizview">
	<!-- <div class="row-fluid">
		<h3 class="span2">Practice</h3>
	</div>
	 -->
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-list sidenav affix-top">
			<% for(var i=0; i<totalQuestions; i++){
			%>
				<li><a class="qnolist" id="<%=i %>"><i class="icon-chevron-right"></i> <%=(i+1) %></a></li>
			<% } %> 
				<!-- <li><a href="#"><i class="icon-chevron-right"></i> 1</a></li>
				<li><a href="#"><i class="icon-chevron-right"></i> 2</a></li>
				<li><a href="#"><i class="icon-chevron-right"></i> 3</a></li>
				 -->
			</ul>
		</div>
		<div class="span10">
			<div class="row-fluid">
				<div id="info"></div>
			</div>
			<div class="question-header affix-top">
				<div class="row-fluid">
					<div class="span2">
						<a id="previous">Previous </a><br>
					</div>
					<div class="span7">
						Time : <span id="time"></span>
					</div>
					<div class="span2">
						<a id="next">Next </a><br>
					</div>
				</div>
			</div>
			<div id="question"></div>
		</div>
	</div>
</div>