<div data-role="header">
    <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
    <h1>Employee Details</h1>
    <a href="#" data-icon="search" class="search ui-btn-right">Search</a>
</div>

<div data-role="content">
	<h3><%= question %>s</h3>
  <%
  <ul data-role="listview" data-inset="true" class="action-list">
        <li><p><%=  %></p></li>
        <li><p><%=  %></p></li>
        <li><p><%=  %></p></li>
        <li><p><%=  %></p></a></li>
    </ul>
</div>
<div data-role="footer">

</div>
